* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: rgb(201, 123, 15);
}

.btn-primary {
    color: white;
    background-color: teal;
    font-size: 18px;
    border: 0;
    padding: 18px 35px;
    border-radius: 5px;
}
/* header */
.header{
    background-color: rgb(246, 247, 234);
    background-image: url(/images/header_bg.png),url(/images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right ,left ;
}

/* nav property */
nav {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 200px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    font-size: 18px;
    list-style: none;
    margin-left: 20px;

}

.nav-title {
    color: black;
    font-weight: 800;
    font-size: 45px;
}

/* bannar section*/
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 15px;
}
.banner-description{
    color: rgba(17, 17, 17, 0.903);
    font-size: 18px;
    margin-bottom: 25px;
}